* {
    font-family: Roboto;
}

.container {
    background-image: url("/img/background1.jpg");
    background-repeat: no-repeat;
    max-width: 1366px;
    margin: 0 auto;
    
}

.tours-container {
    max-width: 1030px;
    width: 1030px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    padding-bottom: 17px;
}

.logo a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.logo .logo-text {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
}

.logo-text::before {
    content: '';
    background-image: url("/img/logo3.svg");
    background-repeat: no-repeat;
    width: 53px;
    height: 47px;
    float: left;
    padding-right: 10px;
}

.logo-text:hover {
    color: #F26522;
}

.logo-text:hover.logo-text::before {
    content: '';
    background-image: url("/img/logo2\(1\).svg");
    background-repeat: no-repeat;
    display: block;
    width: 53px;
    height: 47px;
    float: left;
    padding-right: 10px;
}

.logo-text .holidays {
    font-size: 18px;
    display: block;
}

.contakts a {
    font-size: 18px;
    font-weight: 400;
}

.contakts-email:hover, 
.contakts-phone:hover {
    color: #F26522;
}

.contakts-email {
    margin-bottom: 19px;
}

.contakts-phone {
    text-align: end;
}

.tuors-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 37px;
    column-gap: 61px;
}

.tuors-list .tours-link {
    display: block;
    padding: 20px 0 0 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.tours-items {
    position: relative;
}

.tours-items-hover {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 7px 14px 12px 16px;
    background-color:#F26522;
    transition: bottom 1s;
}

.tours-items:hover .tours-items-hover {
    display: block;
    bottom: 38px;
}

.tours-items-hover-text {
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 400;
}

.tours-items-hover-price {
    display: inline;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    float: left;
}

.tuors-list .tours-items-hover-details {
    display: inline;
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    float: right;
}

.tuors-list .tours-items-hover-details::after {
    content: url("/img/Vector1.png");
    padding-left: 16px;
}

/* .tours-img {
    border: 5px solid transparent;
}

.tours-img:hover {
    border: 5px solid;
    border-image-source: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    border-image-slice: 1;
} */

.tours-items:hover .tours-link {
    color: #F26522;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 48px 0 15px 0;
}